<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <table>
        <tr>
            <th>bus_number</th>
            <th>color_bus</th>
            <th>number_seat</th>
            <th>model_bus number</th>
        </tr>

        <tr>
            <td>{{ bus.bus_number }}</td>
        </tr><tr>
            <td>{{ bus.color_bus }}</td>
        </tr><tr>
            <td>{{ bus.number_seat }}</td>
        </tr>
        <tr>
            <td>{{ bus.model_bus }}</td>
        </tr>
    </table>
</form>
</body>
</html>