<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <table border="1">
        <h3><a href="{% url 'admin_page' %}">Back</a></h3>
       <th>All Captins</th>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Delete</th>
        </tr>
        {% for captin in captins %}
        <tr>
            <td>{{ captin.user.first_name }} {{ captin.user.last_name }}</td>
            <td>{{ captin.phone_number }}</td>
        <td><a href="/swvl_admin/remove_captin?captin_id={{ captin.id }}" >remove captin</a></td>
        </tr>
        {% endfor %}

    </table>
</form>
</body>
</html>